<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:400italic,700italic,400,700" type="text/css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>

  <body class="impress-not-supported" ng-app="app">

    <main id="impress">

      <div class="step">
        <h1>Do the <em>pew pew pew</em> thing</h1>
      </div>

    </main>

    <script src="js/app.min.js"></script>
  </body>
</html>